*.db
*.out
*.txt
*.db-shm
*.db-wal
*.json
*.parquet
*.yml
!charge_model_env_minimal.yml
*.swp
*.dat
*.__MACOSX
*.DS_Store
*.png
*.sh
*.pt
*.log
*.clean
*.xyz
*.bz2
*.model.pt
!*worker_config.yml
!*submit_workers.sh
*.ipynb_checkpoints
*.egg-info