*.db
*.out
*.txt
*.db-shm
*.db-wal
*.json
*.parquet
*.yml
!charge_model_env_minimal.yml
*.swp
*.dat
*.__MACOSX
*.DS_Store
*.png
*.sh
*.pt
*.log
*.clean
*.xyz
*.bz2
*.model.pt
!*worker_config.yml
!*submit_workers.sh
*.ipynb_checkpoints
*.egg-info
!benchmark_wf_analysis/ccsd_data.db
!benchmark_wf_analysis/benchmark_data.csv
*.xlsx
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.csv
*.pkl
!medchem_explorations/fXa/MedChem Results - fXa.csv
!medchem_explorations/xiap_opt/MedChem Results - Xiap.csv
!producing_esp_from_mbis/properties_store_density.db
!benchmark_wf_analysis/benchmark_data.csv